#ForecastedMonthlyPounds {
  @include page;

  #Content {
    position: relative;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 3%;
    justify-content: space-between;
    align-items: center;
    Input {
      display: flex;
    }
  }
}
