#Organizations {
  @include page;

  .wrapper {
    width: 100%;
    display: inline;
  }

  #Filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include mobile {
      flex-wrap: wrap;
    }

    .section-header {
      text-transform: capitalize;
    }
  }

  .Organization {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;

    .section-header {
      font-size: 16px;
    }

    .small {
      text-transform: capitalize;
    }

    .Organization-icon {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: contain;
      margin-right: 16px;
      background: var(--white);
      padding: 3px;
      flex-shrink: 0;
    }

    .Organization-type {
      font-size: 10px;
      margin-left: auto;
    }
  }
}
